:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.add-book {
	float: left;
	padding: 10px;
	text-decoration:none;
	color: black
}

.header {
	font-size: larger;
	display: flex;
	justify-content: center;
	padding: 10px;
	text-decoration:none;
	color: black
}

.all-books {
	float: right;
	padding: 10px;
	text-decoration:none;
	color: black
}

.navbar-container {
	padding: 10px;
}




